.job-list-container {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  margin-top: 20px;
  /* max-width: 1231px; */
  justify-content: center;
  margin-top: 70px;
  padding: 30px;
}

.job-list {
  position: relative;
}
