*,
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px !important;
  letter-spacing: 0.2px !important;
  --primary-color: rgb(75, 219, 188);
  --secondary-color: rgb(29, 50, 145);
}

/* Define font-family */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(~@fontsource/roboto/300.woff2) format("woff2"); /* Adjust the URL as per your setup */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(~@fontsource/roboto/400.woff2) format("woff2"); /* Adjust the URL as per your setup */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(~@fontsource/roboto/500.woff2) format("woff2"); /* Adjust the URL as per your setup */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(~@fontsource/roboto/700.woff2) format("woff2"); /* Adjust the URL as per your setup */
}

/* Use the font-family in your styles */
body {
  font-family: "Roboto", sans-serif;
}
